<panel>
  <div class="head">Standard Component</div>
  <div class="body">
    Meggings small batch bespoke ethical Portland. Single-origin coffee
    wayfarers Odd Future shabby chic, lomo small batch fap seitan. Skateboard
    occupy fap forage master cleanse brunch. Godard mixtape leggings bespoke,
    artisan American Apparel direct trade wolf salvia drinking vinegar deep v
    hella asymmetrical. Seitan mustache semiotics lumbersexual. Health goth
    sartorial cardigan small batch typewriter, tofu flannel pork belly
    gluten-free. Health goth farm-to-table irony tousled stumptown you
    probably haven't heard of them cold-pressed.
  </div>
</panel>